@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-bg{
    width: 100%;
    height: 100%;
    background-image: url('../assets/Radiant-Gradient.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-login{
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 70px 50px;
    background-color: rgb(255, 255, 255);
}

#form-login h1{
    margin: 10px 0;
    font-size: 30px;
    color: rgb(63, 61, 86);
}

.input-login input:not(input[type="submit"]){
    width: 100%;
    height: 50px;
    margin: 10px 0;
    padding-left: 30px;
    font-size: 15px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(63, 61, 86);
    transition: border 300ms;
    font-weight: 500;
}

.input-login input:not(input[type="submit"]):focus{
    border-bottom: 2px solid rgb(108, 99, 255);
}

.input-login input:not(input[type="submit"]):focus + i{
    color:rgb(108, 99, 255);
}

.input-login input[type="submit"]{
    width: 100%;
    height: 60px;
    border: 0;
    margin: 10px 0;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(63, 61, 86);
    transition: background 300ms;
    font-weight: 500;
}

.input-login input[type="submit"]:hover{
    background-color: rgb(106, 102, 146);
}


.input-login{
    position: relative;
}

.input-login i{
    font-size: 17px;
    position: absolute;
    top: 25px;
    left: 5px;
    color: rgb(63, 61, 86);
    transition: color 300ms;
}

#forgout{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: rgb(108, 99, 255);
    transition: background 300ms;
}

#forgout:hover{
    color: rgb(79, 72, 214);
}